* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offcanvas.offcanvas-fullscreen {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    height: 100vh !important;
    transform: none !important;
    z-index: 1055 !important;
}

body,
html {
    transform: none !important;
}



.dropdown-menu>div img {
    position: relative;
    object-fit: contain;
    width: 40px;
    margin-right: 10px;
}

.dropdown-menu>div a p:first-child {
    color: #000;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: -5px;
}

.dropdown-menu>div a {
    display: flex;
    align-items: center;
    padding: 10.5px 8px;
    font-size: 14px;
    white-space: nowrap;
}

.btn1 {
    display: inline-flex;
    align-items: center;
    gap: 7px;
    color: #0c1825;
    font-size: 15px;
    text-align: center;
    padding: 15px 22px;
    border: 1px solid #202c38;
    border-radius: 12px;
    background-color: #f2f7f8;
    font-weight: 600;
    white-space: nowrap;
}

.images {
    position: relative;
    object-fit: contain;
    width: 40px;
    margin-right: 10px;
}

.menugrid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ss {
    padding: 15px 54px;
}

.cc {
    background-color: #122231;
    color: white;
}

.nav-links a {
    text-decoration: none;
    color: #3e5061;
    font-weight: 500;
    font-size: 17px;
    font-family: Jakarta (ttf);
}

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
}


.text {
    padding-top: 72px;
    letter-spacing: -.03em;

}


.flower,
.report-icon .flower {
    transform-box: fill-box;
    transform-origin: center;
    animation: pv-spin 4s linear infinite;
    transition: fill 200ms ease;
}


.section1 .text button:hover .flower {
    fill: #0089ff;
}

.section1 .text button:hover .book-icon path {
    fill: #ffffff;
    transition: fill 200ms ease;
}

@keyframes pv-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.announcement {
    background-color: #0089ff;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    margin-bottom: 29px;
    padding: 8px 12px;
    border-radius: 100px;
    border: none;
}

.announcement:hover {
    background-color: black;
}

.icon {
    transform: rotate(210deg) skewX(30deg) scaleY(0.9);
    transition: transform 0.3s ease;

}

.announcement:hover .icon {
    transform: rotate(0deg) skewX(0deg) scaleY(1);
}

.bb {
    background-color: #122231;
    color: white;
    /* margin-top: -200px; */
}

.anime:not(:hover){
    animation: jump2 0.s ease-out ;
    /* animation-duration: 1s; */
}

@keyframes jump2 {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(-10px);
    }
}


@keyframes jump {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

.anime:hover{
    animation: jump ease-in-out forwards;
    animation-duration: 0.4s;
}

.section1 .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 190px 0px 100px;
    max-width: 1165px;
    margin: auto;
    text-align: center;
}

.imgs {
    position: relative;
    top: 0%;
    right: 0%;
    width: 500px;
    min-height: 520px;
    animation: scroll-up-down 4s linear infinite;
    /* flex-basis: 80%; */
}

@keyframes scroll-up-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.imgs2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    ;
}

.header {
    position: relative;
}

.imgs:hover {
    animation-play-state: paused;
}

.imgs .imgs2 img {
    position: absolute;
}

.imgs .imgs2 img:first-child {
    top: 65px;
    left: -60px
}

.imgs .imgs2 img:nth-child(2) {
    top: 40px;
    right: -50px;
}

.imgs .imgs2 img:nth-child(3) {
    top: 220px;
    left: -60px;
}

.imgs .imgs2 img:nth-child(4) {
    top: 270px;
    right: -40px;
}

.imgs .imgs2 img:nth-child(5) {
    bottom: 60px;
    left: -60px;
}

.imgs .imgs2 img:nth-child(6) {
    bottom: -16px;
    right: -32px;
}

@media screen and (max-width: 600px) {
    .texts {
        max-width: 242px !important;
    }

    .box {
        width: 90vw;
        max-width: 370px;
        margin-bottom: 0 !important;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}




@media screen and (max-width: 992px) {
    body{
        text-align: center !important;
    }
    
        .security2{
        display: flex;
        align-items: center;
    }

    
    .toggler {
        position: absolute;
        top: 20px;
        right: 8px;
    }

    .texts {
        max-width: 377px !important;
    }

    .content {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .content p{
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .box {
        padding: 30px;
    }
}


/* animation */
@media only screen and (min-width: 1400px) {
    .main-cards{
        width: unset;
    }
    }

@media screen and (min-width: 1200px) {
    .section1 .text {
        text-align: left;
    }
}


@media screen and (max-width: 600px) {
    .imgs2 img {
        width: 120px;

    }

    .imgs .header {
        width: 330px;
        max-width: 85vw;
        min-height: unset;
    }

    .imgs2 {
        max-height: 10px;
    }

    .imgs2 img:first-child {
        top: 50px !important;
        left: -5px !important;
    }

    .imgs .imgs2 img:nth-child(2) {
        top: 30px !important;
        right: 6px !important;
    }

    .imgs .imgs2 img:nth-child(3) {
        top: 145px !important;
        left: -5px !important;
    }

    .imgs .imgs2 img:nth-child(4) {
        top: 160px !important;
        right: 9px !important;
    }

    .imgs .imgs2 img:nth-child(5) {
        top: 250px !important;
        left: -1px !important;
    }

    .imgs .imgs2 img:nth-child(6) {
        top: 247px !important;
        right: 7px !important;
    }

    .title {
        font-size: 30px !important;
    }
}

/* section3 */


.main-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:  30px;
}

.box {
    cursor: pointer;
    position: relative;
    margin: unset;
    overflow: hidden;
    height: 440px;
    width: 485px;
    margin-bottom: 0 !important;
    padding: 30px 10px 30px 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.box .phone{
    position: absolute;
    bottom: 0;
    right: 30%;
    /* z-index: 50; */
    transform: translateX(152.2%)  /* Initial position */
}

.box:hover .phone  {
    animation-name: phoneslide;
        transform-origin: bottom right;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes phoneslide {
    0% {
        transform: translateX(152.2%) scale(0.5);
    }
    100% {
        transform: translateX(42.7%) scale(1);
    }
}

.phone:not(:hover){
    animation-name: phoneslideout;
    transform-origin: bottom right;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes phoneslideout {
    0% {
        transform: translateX(42.7%) scale(1);
    }
    75% {
        transform: translateX(inherit) scale(0.8); /* Fixed the 'inherit' value */
    }
    100% {
        transform: translateX(152.2%) scale(0.5);
    }
}

.piggybank:hover{
    
    background-color:#0f60d6  !important ;
}

.safelock:hover{
    
    background-color:#2295f2  !important ;
}

.savings:hover{
    
    background-color:#39c277  !important ;
}

.flexnaira1:hover{
    background-color: #003399 !important;
}

.flexnaira2:hover{
    
    background-color:#ff7a00  !important ;
}

.flexdollar:hover{
    
    background-color:#0c1825  !important ;
}

.box:hover .change{
    color: white!important;
}
